<!DOCTYPE html>
<html lang="en">
<head>
	{% include "includes/head.html"  %}

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	{% include "includes/header.html"  %}

	{% block content %}
	<div class="frame-body">
		<div class="bg"></div>
		<canvas id='snow'></canvas>

		<div class="frames">
			<section class="main main--home main--gift">

				<div class="main__inner">
					<div class="main__logo">
						<img src="img/logo.svg" alt="emg">
					</div>
					<div class="main__text">Подарок отправлен! <br>Ищи его у себя в почте</div>
					<div class="main__img">
						<img src="img/giftbox.gif" alt="giftbox">
					</div>
					<div class="main__title"><b>С Новым годом!</b></div>
				</div>
		
			</section>
		</div>
	</div>

	
	{% endblock %}

	{% include "includes/footer.html"  %}
</body>
</html>
		

			


