<!DOCTYPE html>
<html lang="en">
<head>
	{% include "includes/head.html"  %}

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	{% include "includes/header.html"  %}

	{% block content %}
	<section class="main main--home">
		<canvas id='snow'></canvas>

		<div class="main__inner">
			<div class="main__logo">
				<img src="img/logo.svg" alt="emg">
			</div>
			<div class="main__title">вытряси лучшее<br> из <b>2021!</b></div>
			<!-- <div class="main__text">Хватай быка за рога и получи новогодний подарок!</div> -->
			<div class="main__img">
				<div class="bull">
					<!-- <img src="img/bull.svg" alt="bull"> -->
				</div>
			</div>
			<form class="sub">
				<input type="text" class="sub__input" placeholder="введи Рабочий e-mail">
				<button class="sub__btn">
					<img src="img/arrow_next.gif" alt="arr-next">
				</button>
			</form>
		</div>

	</section>
	{% endblock %}

	{% include "includes/footer.html"  %}
</body>
</html>
		

			


