<!DOCTYPE html>
<html lang="en">
<head>
	{% include "includes/head.html"  %}

	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	{% block content %}
	<div class="frame-body">
		<div class="bg"></div>
		<canvas id='snow'></canvas>

		<div class="frames">
			<section class="main main--loader main--loader">
				<div class="main__inner">
					<div class="main__title">Новогоднее<br><span> родео от </span><img src="img/logo.svg" alt="emg"></div>
					<div class="main__text">испытай удачу — и создай<br> праздничное настроение!</div>
				</div>
						<div class="loader">
							<div class="loader__img">
								<img src="img/preloader.gif" alt="loader">
							</div>
						</div>
			</section>

			<section class="main main--home main--gift">

				<div class="main__inner">
					<div class="main__logo">
						<img src="img/logo.svg" alt="emg">
					</div>
					<div class="main__text">Подарок отправлен! <br>Ищи его у себя в почте</div>
					<div class="main__img">
						<img src="img/giftbox.gif" alt="giftbox">
					</div>
					<div class="main__title"><b>С Новым годом!</b></div>
				</div>
		
			</section>

			<section class="main main--home main--bull">

		
				<div class="main__inner">
					<div class="main__logo">
						<img src="img/logo.svg" alt="emg">
					</div>
					<div class="main__title">вытряси лучшее<br> из <b>2021!</b></div>
					<div class="main__text">Хватай быка за рога и получи новогодний подарок!</div>
					<div class="main__img">
						<div class="main__btns">
							<button class="spinBtn spin-btn"></button>
							<div class="spin-text">схватить</div>
							<button class="spinBtn spin-btn"></button>
						</div>
						<div class="bull">
							<img src="img/ball.svg" class="bull__ball">
							<div class="spin">
								<div class="spin__view">
				
									<div class="spin__body">
										<div class="spin__item spin-item">
											<div class="spin-item__title">Танцуют все</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 1</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 2</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 3</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 4</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 1234</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 234</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 434</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 564</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 674</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 784</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 984</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 904</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 564</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
										<div class="spin__item spin-item">
											<div class="spin-item__title">Домой с вечеринки 434</div>
											<div class="spin-item__text">Снеки и напитки
												для классной мини-вечеринки</div>
										</div>
									</div>
				
								</div>
							</div>
						</div>
						<div class="main__text main__text--footer">Испытать удачу можно трижды!</div>
					</div>
					<div class="sub">
						<input type="text" class="sub__input" placeholder="введи Рабочий e-mail">
						<button class="sub__btn">
							<img src="img/arrow_next.gif" alt="arr-next">
						</button>
					</div>

					<div class="main__btns-res">
						<a href="#!" class="btn btn--primary">еще раз</a>
						<a href="#!" class="btn btnGetGift">Забрать подарок</a>
					</div>

					<div class="main__text-res">
						Забирай подарок сейчас — или испытай удачу ещё два раза! Но помни: если тряхнешь быка снова, этот подарок вернется в мешок к Деду Морозу!
					</div>
				</div>
		
			</section>

		</div>

	</div>
	{% endblock %}

	{% include "includes/footer.html"  %}
</body>
</html>
		

			


