<!DOCTYPE html>
<html lang="en">
<head>
	{% include "includes/head.html"  %}

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	{% include "includes/header.html"  %}

	{% block content %}


	<div class="frame-body">
		<div class="bg"></div>
		<canvas id='snow'></canvas>

		<div class="frames">
			<section class="main main--loader">
				<div class="main__inner">
					<div class="main__title">Новогоднее<br><span> родео от </span><img src="img/logo.svg" alt="emg"></div>
					<div class="main__text">испытай удачу — и создай<br> праздничное настроение!</div>
				</div>
						<div class="loader">
							<div class="loader__img">
								<img src="img/preloader.gif" alt="loader">
							</div>
						</div>
			</section>
		</div>
	</div>
	{% endblock %}

	{% include "includes/footer.html"  %}
</body>
</html>
		

			


